body {  
    font-family: Arial, sans-serif;  
    margin: 0;  
    padding: 0;  
 }  
   
 header {  
    background: linear-gradient( #460971, #893498);  
    color: white;  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    padding: 10px 30px;  
 }  

 img {
   margin-left: 40px;
 }
 nav ul {  
    display: flex;  
    list-style-type: none;  
 }  
   
 nav ul li {  
    margin-left: 20px;  
    margin-top: 21px;
 }  
   
 nav ul li a {  
    color: white;  
    text-decoration: none;  
 }  

 nav ul img {
    margin-left: 20px ;
    margin-top: none;
 }
   

 .menu-toggle {  
    display: none;  
 }  
   
 main {  
    display: flex;  
    padding: 20px;  
 } 
 
 .image1 {  
    display: flex;  
    flex-wrap: wrap;  
    margin-top: 30px;
 }  
  
 .image1 img {  
    width: 300px;  
    height: 300px;  
 }

 .image2 {  
    display: flex;  
    flex-wrap: wrap;   
    margin-top: 265px;
    margin-left: -190px;
 }  
   
 .image2 img {  
    width: 330px;  
    height: 260px;  
 } 

 .image3 {  
    display: flex;  
    flex-wrap: wrap;    
    margin-top: 500px;
    margin-left: -250px;
 }  

 .image3 img {  
    width: 300px;  
    height: 275px;  
 } 
 .event {
    margin-right: 190px;
    margin-left: 400px;
    margin-top: 30px;
    margin-bottom: 50px;
 }
   
 .events {  
    background: linear-gradient(to right, #7e0a98, #e96913);  
    color: white;  
    padding: 20px;  
    border-radius: 60px;  
    height: auto;
    width: 500px;
    margin-left: -350px ;
    margin-top: 100px ;
 }  
   
 .events ul {  
    list-style-type: none;  
    padding: 0;  
 }  
   
 .events li a {  
    justify-content: space-between; 
    padding: 30px 30px; 
    color: white;  
    align-items:last baseline;   
    text-decoration: none;
    margin-bottom: none;
    margin-top: -20px;
    margin-left: 100px;
 }  

 .events li a:hover h3 {
   color: #e6bf41; /* Change the text color on hover (can customize) */
   transition: color 0.3s ease, text-decoration 0.3s ease;
}

 .events li b {
    color: white;  
    align-items:last baseline; 
    margin-left: 10px;
    padding: 30px 20px; 
    font-size: 0.8em;  
    
 }
   
 .events span {  
    font-size: 0.8em;  
    display: block;  
 }  
   
 @media (max-width: 768px) {  
    .menu-toggle {  
       display: block;  
    }  
    nav {  
       display: none;  
    }  
 }