<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Account</title>
    <link rel="stylesheet" href="contact2.css">
    <style>
        body {
          background-image: url(background.jpeg);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
    </style>
</head>
<body>
    <header>  
        <img src="12.png" alt="MIT-ADT University Logo" width="200" height="70">  
        <nav>  
          <ul>  
             <li><a href="Login Page.html">LOGIN</a></li>
             <li><a href="contact2.html">CONTACT</a></li>  
          </ul>  
        </nav>   
     </header>
     <div class="contact-container">
        <div class="contact-item">
            <span class="icon"><a href="https://www.google.com/maps/search/mit+adt/@18.4864843,74.0176209,14z/data=!3m1!4b1?entry=ttu&g_ep=EgoyMDI0MDkyOS4wIKXMDSoASAFQAw%3D%3D">📍</a></span>
            <p>MIT Art, Design and Technology University,<br>
                Rajbaugh Loni Kalbhor, Solapur Highway,<br>
                Near Bharat Petrol Pump Loni Kalbhor Railway Station,<br>
                Pune - 412201, Maharashtra India.</p>
        </div>
    
        <div class="contact-item">
            <span class="icon">📞</span>
            <p>020- 26912901 / 02 / 03 ,<br>9595124234</p>
        </div>
    
        <div class="contact-item">
            <span class="icon">🕒</span>
            <p>Office hours: <strong>9:00 am to 4:30 pm</strong> (except holidays)</p>
        </div>
    </div>
     <script src="script .js"></script>
    </body>
    </html>
    