<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Login</title>
    <link rel="stylesheet" href="Login Page.css">
    <style>
        body {
          background-image: url(background.jpeg);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
    </style>
</head>
<body>
    <header>  
        <img src="12.png" alt="MIT-ADT University Logo" width="200" height="70">  
        <nav>  
          <ul>  
            <li><a href="Login Page.html">LOGIN</a></li>
             <li><a href="contact2.html">CONTACT</a></li>  
          </ul>  
        </nav>   
     </header>
     <div class="login">
        <div class="container">
            <div class="screen">
                <div class="screen__content">
                    <div class="screen__buttons">
                        <!-- Buttons for student and member login -->
                        <button onclick="window.location.href='login for stud.html'">Login as Student</button>
                        <button onclick="window.location.href='login for mem.html'">Login as Member</button>
                    </div>
                </div>
            </div>
        </div>
     </div>
     <script src="script .js"></script>
    </body>
    </html>